.widget__title {
   text-align: center;
   font-size: 1.5rem;
   color: #737573;
}
.cards {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   margin: 5rem 0;
   justify-items: center;
}
.card {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.title {
   color: white;
   font-weight: 300;
   position: absolute;
   left: 20px;
   top: 15px;
}
