.about {
   min-height: 80vh;
   display: flex;
   flex-direction: column;
}
.about__title {
   text-align: center;
   margin-top: 3rem;
   font-size: 1.5rem;
   color: #737573;
}

.scene {
   border: 1px solid #ccc;
   position: relative;
   width: 310px;
   height: 240px;
   margin: 2.5rem auto;
   perspective: 1000px;
   border-radius: 5px;
}

.cards {
   width: 100%;
   height: 100%;
   position: absolute;
   transform: translateZ(-288px);
   transform-style: preserve-3d;
   transition: transform 1s;
}

.card {
   position: absolute;
   width: 290px;
   height: 220px;
   left: 10px;
   top: 10px;
   border-radius: 5px;
   transition: transform 1s, opacity 1s;
   padding-left: 1rem;
   color: #343a3a;
   display: flex;
   flex-direction: column;
}

.card:nth-child(6n + 1) {
   background: rgb(199, 229, 217);
}
.card:nth-child(6n + 2) {
   background: rgb(184, 197, 188);
}
.card:nth-child(6n + 3) {
   background: rgb(184, 197, 188);
}
.card:nth-child(6n + 4) {
   background: rgb(184, 197, 188);
}
.card:nth-child(6n + 5) {
   background: rgb(184, 197, 188);
}
.card:nth-child(6n + 0) {
   background: rgb(184, 197, 188);
}

.card:nth-child(1) {
   transform: rotateY(0deg) translateZ(288px);
}
.card:nth-child(2) {
   transform: rotateY(60deg) translateZ(288px);
}
.card:nth-child(3) {
   transform: rotateY(120deg) translateZ(288px);
}
.card:nth-child(4) {
   transform: rotateY(180deg) translateZ(288px);
}
.card:nth-child(5) {
   transform: rotateY(240deg) translateZ(288px);
}
.card:nth-child(6) {
   transform: rotateY(300deg) translateZ(288px);
}

.card__title {
   font-size: 1.1rem;
}
.card__subtitle {
   font-size: 0.8rem;
   font-style: italic;
   margin-top: -0.8rem;
}
.card__description {
   font-size: 0.9rem;
   padding-right: 0.3rem;
}
.card__date {
   position: absolute;
   bottom: 0;
   font-size: 0.8rem;
   font-style: oblique;
}

.about__bottom {
   text-align: center;
}
.turn__button {
   border: none;
   border-radius: 8px;
   cursor: pointer;
   font-size: 1.2rem;
   font-weight: 300;
   padding: 0.9rem 2rem;
   box-shadow: 1rem 1rem 2rem #d0d0d0;
   background: rgba(166, 181, 171, 0.8);
   color: #3e3f3e;
   font-weight: 700;
}
