.footer {
   display: flex;
   justify-content: space-between;
}
.footer__links {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 15%;
}

/* .footer__links::before {
   content: '';
   display: block;
   width: 64%;
   height: 2px;
   background: rgb(161, 159, 159);
   top: 67%;
   left: 18%;
   position: absolute;
} */
