@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'SpaceGrotesk';
   src: url('../public/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('ttf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'SpaceGrotesk';
   src: url('../public/fonts/SpaceGrotesk-Bold.ttf') format('ttf');
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'SpaceGrotesk';
   src: url('../public/fonts/SpaceGrotesk-Medium.ttf') format('ttf');
   font-weight: medium;
   font-style: normal;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
}

html,
body,
#__next {
   height: 100%;
}

body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
   font-family: 'SpaceGrotesk';
   background-color: black;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

input,
button,
textarea,
select {
   font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

#root,
#__next {
   isolation: isolate;
}
