.header {
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
}
.header__name {
   text-transform: uppercase;
}
.header__links {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 15%;
}
